<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=CloudancyOld;Integrated Security=True" providerName="System.Data.SqlClient" />
      <add name="TestDBEntities" connectionString="Data Source=|DataDirectory|TestDB.sdf;Persist Security Info=False;"  providerName="System.Data.SqlServerCe.4.0"/>
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>